In [1]:
import pandas as pd
import utils
import re

df = pd.read_csv('data.csv')
df.dropna(axis=0)

,Unnamed: 0,content,date,author
0,0,shhh,2021-03-29 23:14:43.088,chopstix#4153
1,1,lmao,2021-03-29 23:14:41.487,chopstix#4153
2,2,nice one <@!178916778276159488>,2021-03-29 23:14:37.588,brando#8737
3,3,ðŸ¥² bart wasted my time,2021-03-29 22:19:15.264,Longyyyy#0922
4,4,im leaving rn haha,2021-03-29 22:18:41.926,Adi#1215
...,...,...,...,...
9995,9995,if you watch it i'll rewatch it with you,2020-11-27 21:24:26.417,Mico#6074
9996,9996,watching this video,2020-11-27 21:24:11.159,Mico#6074
9997,9997,i'm dying,2020-11-27 21:24:07.871,Mico#6074
9998,9998,bro,2020-11-27 21:24:06.504,Mico#6074
9999,9999,maybe i will check it out,2020-11-27 21:23:04.938,chopstix#4153

In [2]:
def sort_by_words(df):
    result = pd.DataFrame(columns = ['word', 'author', 'count'])
    for index, row in df.iterrows():
        content = row['content']
        author = row['author']
        for word in str(content).split():
            word = re.sub(r'[^\w\s]', '', word)
            word = word.lower()
            if not word:
                continue
            if ((result['word'] == word) & (result['author'] == author)).any():
                result.loc[(result['word'] == word) & (result['author'] == author), 'count'] += 1
            else:
                result.loc[len(result)] = [word, author, 1]
    return result

In [3]:
df = pd.read_csv('sortedByWords.csv')
df = df.sort_values(by = 'count', ascending = False)

In [5]:
percentdf = pd.DataFrame(columns = ['word', 'percentage', 'author'])
for author in df['author'].unique():
    percentdf = percentdf.append(utils.percentage(df, author))
percentdf

        word  percentage             author
0          i    0.008179        Calvin#9140
1        the    0.004486        Calvin#9140
2          u    0.003714        Calvin#9140
3          a    0.003025        Calvin#9140
4         it    0.002984        Calvin#9140
..       ...         ...                ...
0        yes    0.000021         pokCy#7880
1         so    0.000021         pokCy#7880
2   handsome    0.000021         pokCy#7880
3          u    0.000021         pokCy#7880
0        NaN    0.000021  Birthday Bot#5876

[15060 rows x 3 columns]

In [6]:
file_location = 'testdata.csv'
df.to_csv(file_location)
file_location = 'percentdata.csv'
percentdf.to_csv(file_location)

In [8]:
author = '______'
utils.top_10_words(percentdf, author)

[]

In [9]:
result = pd.DataFrame(columns = ['author', 'unique'])
for author in df['author'].unique():
    authordf = df[df['author'] == author]
    result.loc[len(result)] = [author, len(authordf)]
result.sort_values(by = 'unique', ascending = False)

                  author unique
0            Calvin#9140   2001
1            brando#8737   1456
2        hotshot396#4840   1206
3            Pierce#8954   1145
5              Mico#6074    976
4          chopstix#4153    914
6               Adi#1215    893
11      Kielbasaboy#7027    854
10     maxxxxxxxxxx#9258    842
8         boostedjg#6354    817
9             Woozy#5737    756
7      crazyazhun09#5259    700
12              zel#0242    600
13            james#0454    324
14      Patsarebest#2548    321
15         Longyyyy#0922    201
17             ANDY#0669    184
16        Wrongnote#3184    149
18             Tahm#7419    149
19             Seth#0778    139
20       D3vilsluck#7163     92
25           aurren#7777     64
21            Erni3#8552     61
24    Loadedrakeman#0396     40
23      spoodermatt#1757     37
22            Sw1ft#8896     25
27       ImShinyang#5236     22
28           Nathan#8008     19
26         Aron1711#5813     18
33  henzowithabenzo#2079     15
35            Natta#6487      9
30            jesss#9113      7
29        ashywashy#8382      5
32         Wumaster#2122      4
34            Paul*#3292      4
36          Ekeziel#8764      4
38            pokCy#7880      4
31         grundjim#6503      1
37             Pham#1105      1
39     Birthday Bot#5876      1